a {
    font-family: sans-serif;
    text-decoration: none;
    color: chocolate;
    font-size : 20px;
    
    
}

.container {
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: auto;
    background-color: rgb(247,247,247);
    border-style:double;
    border-color:chocolate;
    border-width: 5px;
   }

.mainlogo {
    height: 180px;
    width : 400px;
    grid-column-start: 0;
    grid-column-end: 2;
    grid-row-start: 0;
    grid-row-end: 1;
    }

.mainnav {
    margin: auto;
    font-size: 20px;
    text-align: left;
    padding: 5px;
    width: 3fr;
    grid-column-start: -2;
    grid-column-end: span <-1>;
    grid-row-start: 1;
    grid-row-end: -3;
 }

 .navlink {
    background-color: rgb(247,247,247);
        border-style: double;
        border-width: 5px;
        color: chocolate;
        padding: 5px 10px;
        text-align: center;;
        display: inline-block;  
 }

.mainnav {
    cursor: url(nat622.cur);
}