* {
    font-family: Verdana, Tahoma, sans-serif;
}
.mainlogo {
    height: 150px;
    width: 350px;
}
.container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr;
    column-gap: 5px;
   }
.mainnav {
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
   }

/* . is class selector */
/* * is all selector */
/* # is ID selector */
/* changing fonts (with backups if font is missing) -- font-family:  */
/* google fonts? */
/* resizes elements to stick to specific border sizing -- box-sizing: borderbox */
